PORT= # Port de l'appli. ex: 3000
DATABASE_URL= # URL de la base de données. Contient l'username, le mot de passe et la bdd. ex: postgresql://USERNAME:PASSWORD@POSTGRES-URL:PORT/DATABASE
JWT_SECRET= # Secret JWT. Une clé secrète sans format spécifique. 
